In [2]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.float_format', lambda x : '%.3f' % x)
pd.set_option('max_columns', None)

## Load data using `read_csv`

- 미국시장 재무재표 데이터 크롤링

In [3]:
df = pd.read_csv("../inflearn_pandas_part1_material/my_data/naver_finance/2015_12.csv")
df.head()

,ticker,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

## Exploratory Data Analysis (EDA)

- In statistics, exploratory data analysis (EDA) is an approach to analyzing data sets to summarize their maincharacteristics, often with visual methods(wiki)
- Two parts
  - Metadata : data about data
    - 데이터 크기
    - 컬럼명
    - 데이터 타입
    - 비어 있는 데이터
    - etc
  - Univariate descriptive statics: summary statistics about individual variables(columns)

### Metadata

In [4]:
df.shape

(681, 16)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     681 non-null    object
 1   매출액(억원)    680 non-null    float64
 2   영업이익률(%)   680 non-null    float64
 3   순이익률(%)    680 non-null    float64
 4   당기순이익(억원)  680 non-null    float64
 5   ROE(%)     665 non-null    float64
 6   ROA(%)     665 non-null    float64
 7   ROIC(%)    611 non-null    float64
 8   EPS(원)     681 non-null    float64
 9   BPS(원)     681 non-null    float64
 10  SPS(원)     681 non-null    float64
 11  PER(배)     668 non-null    float64
 12  PBR(배)     681 non-null    float64
 13  PSR(배)     668 non-null    float64
 14  price      681 non-null    float64
 15  price2     681 non-null    float64
dtypes: float64(15), object(1)
memory usage: 85.2+ KB

In [12]:
df['ticker'].dtype

dtype('O')

### Rename Column

In [13]:
df = df.rename(columns={"ticker":"종목명"})
df.head()

,종목명,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

### describe()

In [14]:
df.describe()
# count : NaN을 제외한 값의 count

,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
count,680.000,680.000,680.000,680.000,665.000,665.000,611.000,681.000,681.000,681.000,668.000,681.000,668.000,681.000,681.000
mean,30112.802,3.882,7.669,1312.761,4.512,1.837,-3.009,426.081,47451.880,95471.752,18.921,1.582,1.922,47344.200,41784.562
std,108134.170,13.143,151.567,10133.596,130.083,9.512,195.156,34193.002,152959.285,316794.457,134.916,2.040,19.849,117063.700,96318.573
min,3.561,-191.601,-193.426,-22092.438,-529.306,-136.813,-4685.987,-844700.060,-230961.190,50.177,-1435.921,-2.829,0.011,158.000,154.000
25%,1727.089,1.532,0.369,10.859,0.828,0.275,1.357,22.964,4110.551,7504.220,4.674,0.622,0.310,3903.000,4060.000
50%,4692.060,4.194,3.067,118.918,5.350,2.305,5.208,539.109,10988.989,22559.920,11.743,0.957,0.590,12018.000,10900.000
75%,15243.673,8.314,6.612,504.201,9.766,5.338,10.550,2197.652,39550.230,72356.336,24.062,1.672,1.142,40496.000,39750.000
max,2006534.900,64.273,3923.338,190601.440,3122.573,60.287,271.957,93713.010,3017474.000,5553036.500,2808.262,21.154,511.718,1225000.000,1064000.000

In [16]:
a = df.describe()
a.T # index와 column의 위치를 변환

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

In [18]:
# 1. numerical
df.describe(include=[np.number]).T # = df.describe()
df.describe(include=['int','float']).T

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

In [19]:
df.describe(percentiles=[0.01, 0.03, 0.99]).T.head(2)

,count,mean,std,min,1%,3%,50%,99%,max
매출액(억원),680.000,30112.802,108134.170,3.561,90.991,260.989,4692.060,467457.632,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,-24.020,-16.146,4.194,28.584,64.273

In [21]:
# 2. categorical
df.describe(include=[np.object, pd.Categorical]).T.head()
# top : 가장 많이 나온 단어

<ipython-input-21-d342d6a3bc55>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df.describe(include=[np.object, pd.Categorical]).T.head()

    count unique   top freq
종목명   681    681  한국공항    1

In [22]:
df['PER(배)'].quantile(.1)

-10.561643