In [2]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.float_format', lambda x : '%.3f' % x)
pd.set_option('max_columns', None)

## Load data using `read_csv`

- 미국시장 재무재표 데이터 크롤링

In [3]:
df = pd.read_csv("../inflearn_pandas_part1_material/my_data/naver_finance/2015_12.csv")
df.head()

,ticker,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

## Exploratory Data Analysis (EDA)

- In statistics, exploratory data analysis (EDA) is an approach to analyzing data sets to summarize their maincharacteristics, often with visual methods(wiki)
- Two parts
  - Metadata : data about data
    - 데이터 크기
    - 컬럼명
    - 데이터 타입
    - 비어 있는 데이터
    - etc
  - Univariate descriptive statics: summary statistics about individual variables(columns)

### Metadata

In [4]:
df.shape

(681, 16)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     681 non-null    object
 1   매출액(억원)    680 non-null    float64
 2   영업이익률(%)   680 non-null    float64
 3   순이익률(%)    680 non-null    float64
 4   당기순이익(억원)  680 non-null    float64
 5   ROE(%)     665 non-null    float64
 6   ROA(%)     665 non-null    float64
 7   ROIC(%)    611 non-null    float64
 8   EPS(원)     681 non-null    float64
 9   BPS(원)     681 non-null    float64
 10  SPS(원)     681 non-null    float64
 11  PER(배)     668 non-null    float64
 12  PBR(배)     681 non-null    float64
 13  PSR(배)     668 non-null    float64
 14  price      681 non-null    float64
 15  price2     681 non-null    float64
dtypes: float64(15), object(1)
memory usage: 85.2+ KB

In [12]:
df['ticker'].dtype

dtype('O')

### Rename Column

In [13]:
df = df.rename(columns={"ticker":"종목명"})
df.head()

,종목명,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

### describe()

In [14]:
df.describe()
# count : NaN을 제외한 값의 count

,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
count,680.000,680.000,680.000,680.000,665.000,665.000,611.000,681.000,681.000,681.000,668.000,681.000,668.000,681.000,681.000
mean,30112.802,3.882,7.669,1312.761,4.512,1.837,-3.009,426.081,47451.880,95471.752,18.921,1.582,1.922,47344.200,41784.562
std,108134.170,13.143,151.567,10133.596,130.083,9.512,195.156,34193.002,152959.285,316794.457,134.916,2.040,19.849,117063.700,96318.573
min,3.561,-191.601,-193.426,-22092.438,-529.306,-136.813,-4685.987,-844700.060,-230961.190,50.177,-1435.921,-2.829,0.011,158.000,154.000
25%,1727.089,1.532,0.369,10.859,0.828,0.275,1.357,22.964,4110.551,7504.220,4.674,0.622,0.310,3903.000,4060.000
50%,4692.060,4.194,3.067,118.918,5.350,2.305,5.208,539.109,10988.989,22559.920,11.743,0.957,0.590,12018.000,10900.000
75%,15243.673,8.314,6.612,504.201,9.766,5.338,10.550,2197.652,39550.230,72356.336,24.062,1.672,1.142,40496.000,39750.000
max,2006534.900,64.273,3923.338,190601.440,3122.573,60.287,271.957,93713.010,3017474.000,5553036.500,2808.262,21.154,511.718,1225000.000,1064000.000

In [16]:
a = df.describe()
a.T # index와 column의 위치를 변환

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

In [18]:
# 1. numerical
df.describe(include=[np.number]).T # = df.describe()
df.describe(include=['int','float']).T

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.000,30112.802,108134.170,3.561,1727.089,4692.060,15243.673,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,1.532,4.194,8.314,64.273
순이익률(%),680.000,7.669,151.567,-193.426,0.369,3.067,6.612,3923.338
당기순이익(억원),680.000,1312.761,10133.596,-22092.438,10.859,118.918,504.201,190601.440
ROE(%),665.000,4.512,130.083,-529.306,0.828,5.350,9.766,3122.573
ROA(%),665.000,1.837,9.512,-136.813,0.275,2.305,5.338,60.287
ROIC(%),611.000,-3.009,195.156,-4685.987,1.357,5.208,10.550,271.957
EPS(원),681.000,426.081,34193.002,-844700.060,22.964,539.109,2197.652,93713.010
BPS(원),681.000,47451.880,152959.285,-230961.190,4110.551,10988.989,39550.230,3017474.000
SPS(원),681.000,95471.752,316794.457,50.177,7504.220,22559.920,72356.336,5553036.500
PER(배),668.000,18.921,134.916,-1435.921,4.674,11.743,24.062,2808.262
PBR(배),681.000,1.582,2.040,-2.829,0.622,0.957,1.672,21.154
PSR(배),668.000,1.922,19.849,0.011,0.310,0.590,1.142,511.718
price,681.000,47344.200,117063.700,158.000,3903.000,12018.000,40496.000,1225000.000
price2,681.000,41784.562,96318.573,154.000,4060.000,10900.000,39750.000,1064000.000

In [19]:
df.describe(percentiles=[0.01, 0.03, 0.99]).T.head(2)

,count,mean,std,min,1%,3%,50%,99%,max
매출액(억원),680.000,30112.802,108134.170,3.561,90.991,260.989,4692.060,467457.632,2006534.900
영업이익률(%),680.000,3.882,13.143,-191.601,-24.020,-16.146,4.194,28.584,64.273

In [21]:
# 2. categorical
df.describe(include=[np.object, pd.Categorical]).T.head()
# top : 가장 많이 나온 단어

<ipython-input-21-d342d6a3bc55>:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df.describe(include=[np.object, pd.Categorical]).T.head()

    count unique   top freq
종목명   681    681  한국공항    1

In [22]:
df['PER(배)'].quantile(.1)

-10.561643

### `unique()`, `value_counts()`

In [25]:
# DataFrame => nuique()
df.nunique()
# 컬럼별 unique 값의 수

종목명          681
매출액(억원)      680
영업이익률(%)     667
순이익률(%)      672
당기순이익(억원)    680
ROE(%)       655
ROA(%)       650
ROIC(%)      610
EPS(원)       681
BPS(원)       681
SPS(원)       681
PER(배)       668
PBR(배)       680
PSR(배)       668
price        628
price2       620
dtype: int64

In [30]:
# Series -> unique(), nunique(), value_counts()
df['종목명'].unique()

array(['AK홀딩스', 'BGF', 'BNK금융지주', 'BYC', 'CJ', 'CJ CGV', 'CJ대한통운',
       'CJ씨푸드', 'CJ제일제당', 'CS홀딩스', 'DB', 'DB금융투자', 'DB손해보험', 'DB하이텍',
       'DGB금융지주', 'DRB동일', 'DSR', 'DSR제강', 'E1', 'F&F', 'GKL', 'GS',
       'GS건설', 'GS글로벌', 'GS리테일', 'HDC', 'HDC현대EP', 'HSD엔진', 'JB금융지주',
       'JW중외제약', 'JW홀딩스', 'KB금융', 'KC그린홀딩스', 'KC코트렐', 'KEC', 'KG케미칼',
       'KISCO홀딩스', 'KPX케미칼', 'KPX홀딩스', 'KR모터스', 'KSS해운', 'KTB투자증권',
       'KTcs', 'KTis', 'LF', 'LG', 'LG디스플레이', 'LG상사', 'LG생활건강', 'LG유플러스',
       'LG이노텍', 'LG전자', 'LG하우시스', 'LG헬로비전', 'LG화학', 'LS', 'LS네트웍스',
       'LS산전', 'MH에탄올', 'NAVER', 'NH투자증권', 'NICE', 'NI스틸', 'OCI', 'S&TC',
       'S&T모티브', 'S&T중공업', 'S&T홀딩스', 'S-Oil', 'SBS미디어홀딩스', 'SG세계물산',
       'SG충방', 'SH에너지화학', 'SIMPAC', 'SK', 'SKC', 'SK가스', 'SK네트웍스',
       'SK디스커버리', 'SK렌터카', 'SK이노베이션', 'SK증권', 'SK텔레콤', 'SK하이닉스', 'SPC삼립',
       'STX', 'STX엔진', 'STX중공업', 'TCC스틸', 'WISCOM', 'YG PLUS', '가온전선',
       '강남제비스코', '강원랜드', '갤럭시아에스엠', '경농', '경동나비엔', '경동인베스트', '경방', '경인양행',
       '경인전자', '계룡건설산업', '계양전기', '고려개발', '고려산업', '고려아연', '고려제강', '광동제약',
       '광명전기', '광전자', '광주신세계', '교보증권', '국도화학', '국동', '국보', '국제약품',
       '그린케미칼', '극동유화', '금강공업', '금양', '금호산업', '금호석유화학', '금호전기', '금호타이어',
       '기아자동차', '기업은행', '까뮤이앤씨', '깨끗한나라', '나노메딕스', '남광토건', '남선알미늄', '남성',
       '남양유업', '남영비비안', '남해화학', '넥센', '넥센타이어', '넥스트사이언스', '노루페인트',
       '노루홀딩스', '녹십자', '녹십자홀딩스', '농심', '농심홀딩스', '다스코', '다우기술', '대교',
       '대덕전자', '대동공업', '대림비앤코', '대림산업', '대림통상', '대상', '대상홀딩스', '대성산업',
       '대성에너지', '대성홀딩스', '대신증권', '대양금속', '대영포장', '대우건설', '대우부품', '대우조선해양',
       '대웅', '대웅제약', '대원강업', '대원전선', '대원제약', '대원화성', '대유에이텍', '대유플러스',
       '대창', '대창단조', '대한방직', '대한유화', '대한전선', '대한제강', '대한제당', '대한제분',
       '대한항공', '대한해운', '대한화섬', '대현', '대호에이엘', '더존비즈온', '덕성', '덕양산업',
       '도화엔지니어링', '동국제강', '동남합성', '동방', '동방아그로', '동부건설', '동부제철', '동서',
       '동성제약', '동성코퍼레이션', '동성화학', '동아쏘시오홀딩스', '동아에스티', '동아지질', '동양',
       '동양고속', '티탑스', '동양물산기업', '동양생명', '동양철관', '동원F&B', '동원산업', '동원수산',
       '동원시스템즈', '동일고무벨트', '동일산업', '동화약품', '두산', '두산건설', '두산인프라코어',
       '두산중공업', '디씨엠', '디아이', '디아이동일', '디아이씨', '디와이', '디티알오토모티브', '디피씨',
       '락앤락', '롯데관광개발', '롯데손해보험', '롯데쇼핑', '롯데정밀화학', '롯데지주', '롯데칠성음료',
       '롯데케미칼', '롯데푸드', '롯데하이마트', '마니커', '만도', '메리츠금융지주', '메리츠종금증권',
       '메리츠화재', '메타랩스', '명문제약', '모나리자', '모나미', '모토닉', '무림P&P', '무림페이퍼',
       '무학', '문배철강', '미래산업', '미래아이앤지', '미래에셋대우', '미래에셋생명', '미원상사',
       '미원홀딩스', '미원화학', '미창석유공업', '백광산업', '백광소재', '백산', '범양건영', '벽산',
       '보락', '보령제약', '보해양조', '부광약품', '부국증권', '부국철강', '부산도시가스', '부산산업',
       '부산주공', '비상교육', '비티원', '빙그레', '사조대림', '사조동아원', '사조산업', '사조씨푸드',
       '사조오양', '삼광글라스', '삼부토건', '삼성SDI', '삼성공조', '삼성물산', '삼성생명',
       '삼성에스디에스', '삼성엔지니어링', '삼성전기', '삼성전자', '삼성제약', '삼성중공업', '삼성증권',
       '삼성출판사', '삼성카드', '삼성화재해상보험', '삼아알미늄', '삼양사', '삼양식품', '삼양통상',
       '삼양홀딩스', '삼영무역', '삼영전자공업', '삼영화학공업', '삼원강재', '삼익THK', '삼익악기',
       '삼일제약', '삼정펄프', '삼진제약', '삼천리', '삼호', '삼호개발', '삼화왕관', '삼화전기',
       '삼화전자공업', '삼화콘덴서공업', '삼화페인트공업', '상상인증권', '상신브레이크', '새론오토모티브', '샘표',
       '서연', '서연이화', '서울도시가스', '서울식품공업', '서원', '서흥', '선도전기', '선진', '선창산업',
       '성문전자', '성보화학', '성신양회', '성안', '성창기업지주', '세기상사', '세방', '세방전지',
       '세아베스틸', '세아제강지주', '세아특수강', '세아홀딩스', '세우글로벌', '세원셀론텍', '세이브존I&C',
       '세종공업', '세하', '셀트리온', '송원산업', '수산중공업', '시디즈', '신대양제지', '신도리코',
       '신라교역', '신성이엔지', '신세계', '신세계I&C', '신세계건설', '신세계인터내셔날', '신세계푸드',
       '신송홀딩스', '신영와코루', '신원', '신일산업', '신풍제약', '신풍제지', '신한', '신한지주',
       '신화실업', '신흥', '쌍방울', '쌍용양회공업', '쌍용자동차', '써니전자', '쎌마테라퓨틱스', '씨아이테크',
       '씨에스윈드', '아남전자', '아모레퍼시픽', '아모레퍼시픽그룹', '아세아', '아세아시멘트', '아세아제지',
       '아시아나항공', '아이마켓코리아', '아이에스동서', '아이에이치큐', '아주캐피탈', '알루코', '애경유화',
       '에넥스', '에스엘', '에스원', '에스제이엠', '에스제이엠홀딩스', '에쓰씨엔지니어링', '에이블씨엔씨',
       '에이엔피', '에이프로젠 KIC', '에이프로젠제약', '엔씨소프트', '엔에이치엔', '엔케이', '엔케이물산',
       '엔피씨', '엘브이엠씨', '영보화학', '영원무역', '영원무역홀딩스', '영진약품', '영풍', '영풍제지',
       '영화금속', '영흥철강', '예스코홀딩스', '오뚜기', '오리온홀딩스', '우리들제약', '우리들휴브레인',
       '우리종금', '우성사료', '우신시스템', '우진', '우진플라임', '웅진', '웅진씽크빅', '웅진에너지',
       '원림', '웰바이오텍', '윌비스', '유나이티드', '유니드', '유니온', '유니온머티리얼', '유니퀘스트',
       '유성기업', '유수홀딩스', '유안타증권', '유양디앤유', '유엔젤', '유진증권', '유한양행', '유화증권',
       '율촌화학', '이건산업', '이구산업', '이마트', '이수페타시스', '이수화학', '이스타코', '이아이디',
       '이연제약', '이월드', '인디에프', '인스코비', '인지컨트롤스', '인천도시가스', '인터지스', '인팩',
       '일동홀딩스', '일성건설', '일성신약', '일신방직', '일신석재', '일양약품', '일정실업', '일진다이아',
       '일진디스플', '일진머티리얼즈', '일진전기', '일진홀딩스', '자화전자', '전방', '제이준코스메틱',
       '제이콘텐트리', '제일기획', '제일연마', '제일파마홀딩스', '제주은행', '제주항공', '조광페인트',
       '조광피혁', '조비', '조선내화', '조선선재', '조일알미늄', '조흥', '종근당', '종근당바이오',
       '종근당홀딩스', '주연테크', '지엠비코리아', '지역난방공사', '지코', '지투알', '진도', '진양산업',
       '진양폴리우레탄', '진양홀딩스', '진양화학', '진원생명과학', '진흥기업', '참엔지니어링', '천일고속',
       '청호컴넷', '카카오', '카프로', '컨버즈', '케이비아이동국실업', '케이씨', '케이씨씨', '케이씨티시',
       '케이티', '케이티스카이라이프', '케이티앤지', '코리아써키트', '코리안리', '코스맥스', '코스맥스비티아이',
       '코스모신소재', '코스모화학', '코아스', '코오롱', '코오롱글로벌', '코오롱머티리얼', '코오롱인더',
       '코오롱플라스틱', '코웨이', '콤텍시스템', '쿠쿠홀딩스', '큐로', '크라운해태홀딩스', '키다리스튜디오',
       '키움증권', '키위미디어그룹', '태경산업', '태경화학', '태광산업', '태림포장', '태양금속공업',
       '태영건설', '태원물산', '태평양물산', '텔코웨어', '티비에이치글로벌', '티에이치엔', '티웨이홀딩스',
       '파미셀', '팜스코', '팬오션', '퍼스텍', '퍼시스', '페이퍼코리아', '평화산업', '평화홀딩스',
       '포스코', '포스코강판', '포스코인터내셔널', '포스코케미칼', '폴루스바이오팜', '풀무원', '풍산',
       '풍산홀딩스', '필룩스', '하나금융지주', '하나투어', '하이스틸', '하이트론씨스템즈', '하이트진로',
       '하이트진로홀딩스', '한국가스공사', '한국공항', '한국금융지주', '한국내화', '한국단자공업', '한국석유공업',
       '한국수출포장공업', '한국쉘석유', '한국전력공사', '한국전자홀딩스', '한국제지', '한국조선해양',
       '한국종합기술', '한국주강', '한국철강', '한국카본', '한국콜마', '한국콜마홀딩스', '한국타이어앤테크놀로지',
       '한국테크놀로지그룹', '한국토지신탁', '한국특수형강', '한국프랜지공업', '한국항공우주', '한국화장품',
       '한국화장품제조', '한농화성', '한독', '한라', '한라홀딩스', '한미글로벌', '한미반도체', '한미사이언스',
       '한미약품', '한샘', '한섬', '한성기업', '한세실업', '한세엠케이', '한세예스24홀딩스',
       '한솔로지스틱스', '한솔케미칼', '한솔테크닉스', '한솔피엔에스', '한솔홀딩스', '한솔홈데코', '한신공영',
       '한신기계공업', '한양증권', '한온시스템', '한올바이오파마', '한익스프레스', '한일철강', '한일현대시멘트',
       '한일홀딩스', '한전KPS', '한전기술', '한전산업', '한진', '한진중공업', '한진중공업홀딩스', '한진칼',
       '한창', '한창제지', '한화', '한화갤러리아타임월드', '한화생명', '한화손해보험', '한화솔루션',
       '한화에어로스페이스', '한화투자증권', '현대건설', '현대그린푸드', '현대글로비스', '현대로템', '현대리바트',
       '현대모비스', '현대미포조선', '현대백화점', '현대비앤지스틸', '현대상선', '현대에이치씨엔',
       '현대엘리베이터', '현대위아', '현대자동차', '현대제철', '현대종합상사', '현대차증권', '현대해상',
       '현대홈쇼핑', '혜인', '호텔신라', '화성산업', '화승알앤에이', '화승인더스트리', '화신', '화인베스틸',
       '화천기계', '화천기공', '환인제약', '황금에스티', '효성', '효성 ITX', '후성', '휠라홀딩스',
       '휴니드테크놀러지스', '휴비스', '휴스틸', '휴켐스', '흥국화재', '흥아해운'], dtype=object)

In [31]:
df['종목명'].nunique()

681

In [34]:
df['종목명'].value_counts()

한국공항        1
제일기획        1
조선선재        1
동원F&B       1
LG유플러스      1
           ..
한신공영        1
디티알오토모티브    1
삼화페인트공업     1
부국증권        1
삼화전자공업      1
Name: 종목명, Length: 681, dtype: int64

In [35]:
a = pd.DataFrame({'a':[np.nan,1,2]})['a']
a

0     NaN
1   1.000
2   2.000
Name: a, dtype: float64

In [37]:
a.value_counts()
# value와 관련있는 함수 (unique, nunique, value_counts)는 NaN 값을 어떻게 처리하는지에 대해 숙지하고 있어야 한다.

2.000    1
1.000    1
Name: a, dtype: int64

In [41]:
a = pd.read_csv('../inflearn_pandas_part1_material/my_data/symbol_sector.csv', index_col=0)
a.head()

                 Sector
AJ네트웍스  산업용 기계 및 장비 임대업
AJ렌터카          운송장비 임대업
AK홀딩스            기타 금융업
AP우주통신         전자부품 제조업
BGF              종합 소매업

In [42]:
a.shape

(1142, 1)

In [45]:
a['Sector'].nunique()

129

In [44]:
a['Sector'].value_counts()

기타 금융업                   110
자동차 신품 부품 제조업             46
의약품 제조업                   44
전자부품 제조업                  38
1차 철강 제조업                 38
                        ...
담배 제조업                     1
사진장비 및 광학기기 제조업            1
일반 및 생활 숙박시설 운영업           1
재 보험업                      1
의료, 정밀, 광학기기 및 시계 제조업      1
Name: Sector, Length: 129, dtype: int64