In [2]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.float_format', lambda x : '%.3f' % x)
pd.set_option('max_columns', None)

## Load data using `read_csv`

- 미국시장 재무재표 데이터 크롤링

In [3]:
df = pd.read_csv("../inflearn_pandas_part1_material/my_data/naver_finance/2015_12.csv")
df.head()

,ticker,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000

## Exploratory Data Analysis (EDA)

- In statistics, exploratory data analysis (EDA) is an approach to analyzing data sets to summarize their maincharacteristics, often with visual methods(wiki)
- Two parts
  - Metadata : data about data
    - 데이터 크기
    - 컬럼명
    - 데이터 타입
    - 비어 있는 데이터
    - etc
  - Univariate descriptive statics: summary statistics about individual variables(columns)

### Metadata

In [4]:
df.shape

(681, 16)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     681 non-null    object
 1   매출액(억원)    680 non-null    float64
 2   영업이익률(%)   680 non-null    float64
 3   순이익률(%)    680 non-null    float64
 4   당기순이익(억원)  680 non-null    float64
 5   ROE(%)     665 non-null    float64
 6   ROA(%)     665 non-null    float64
 7   ROIC(%)    611 non-null    float64
 8   EPS(원)     681 non-null    float64
 9   BPS(원)     681 non-null    float64
 10  SPS(원)     681 non-null    float64
 11  PER(배)     668 non-null    float64
 12  PBR(배)     681 non-null    float64
 13  PSR(배)     668 non-null    float64
 14  price      681 non-null    float64
 15  price2     681 non-null    float64
dtypes: float64(15), object(1)
memory usage: 85.2+ KB

In [12]:
df['ticker'].dtype

dtype('O')

### Rename Column

In [13]:
df = df.rename(columns={"ticker":"종목명"})
df.head()

,종목명,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.479,3.787,-1.334,-374.431,-7.677,-1.421,15.120,-3245.741,43497.723,211899.220,-19.472,1.453,0.298,63200.000,56000.000
1,BGF,43342.800,4.236,3.526,1528.413,22.771,10.327,271.957,3071.872,15605.457,87779.875,28.779,5.665,1.007,44202.000,42140.000
2,BNK금융지주,51740.254,13.455,10.253,5304.712,9.116,0.609,NaN,1853.180,21665.062,19749.037,4.544,0.389,0.426,8420.000,8680.000
3,BYC,1821.960,11.598,7.222,131.581,3.546,2.024,13.235,15693.808,453030.620,216899.980,29.279,1.014,2.118,459500.000,397000.000
4,CJ,211667.080,5.789,2.604,5511.155,5.874,2.365,5.821,5780.626,110304.560,594563.900,40.944,2.146,0.398,236684.000,176334.000