# 1. Appending new rows to DataFrames

## 1.1. Append without using `append()` (using `loc`)

In [1]:
import numpy as np
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.float_format', lambda x : '%.3f' % x)
pd.set_option('max_columns', None)

In [8]:
df = pd.DataFrame(columns=['a','b'])
df.head()

Empty DataFrame
Columns: [a, b]
Index: []

### 1.1.1. Add data as 'list'

In [9]:
df.loc[0] = [1,2]
df.head()

   a  b
0  1  2

### 1.1.2 Add data as 'dict'

In [10]:
df.loc[len(df)] = {'b' : 'ㅎ', 'a': 'ㅋ'}
df.head()

   a  b
0  1  2
1  ㅋ  ㅎ

### 1.1.3. Add data as 'Series'

In [11]:
df.loc["yay"] = pd.Series({'a':'ㅋ','b':'ㅎ'})
df.tail()

     a  b
0    1  2
1    ㅋ  ㅎ
yay  ㅋ  ㅎ

In [12]:
# 이미 존재하는 index에 넣기
df.loc["yay"] = pd.Series({'a':'1111','b':'2222'})
df.tail()

        a     b
0       1     2
1       ㅋ     ㅎ
yay  1111  2222

## 1.2. Append using `append()`

- 위의 `loc`와는 다르게 not in-place(returns a new copy of the DataFrame)
- `append()` : it only accept
  - DataFrame
  - Series
  - Dictionary
  - list of thes(Not list itself)

In [13]:
names_df = pd.DataFrame({
    'Name':['철수','영희','영수','영미'],
    'Age': [12,13,14,15]
}, index=['Canada','Canada','USA','USA'])
names_df

       Name  Age
Canada   철수   12
Canada   영희   13
USA      영수   14
USA      영미   15

In [15]:
# index를 뭐로 설정해야도리지 모르기때문에 에러가 남
names_df.append(
    {'Name':'영수','Age':1}
)

TypeError: Can only append a dict if ignore_index=True

### 1.2.1. ignore_index=True
- 이전 index를 다 reset한다

In [16]:
names_df.append(
    {'Name':'영수','Age':1},
    ignore_index=True
)

  Name  Age
0   철수   12
1   영희   13
2   영수   14
3   영미   15
4   영수    1

### 1.2.2. Old index 유지하기 => `append()` 할 때, dict 대신에 Series를 전달하면 됨

- `Series`를 `append`를 할 때는, `Series`의 index가 column이 되고, name이 index가 됨

In [17]:
s = pd.Series({'Name':'Zach','Age':3}, name=len(names_df))
s

Name    Zach
Age        3
Name: 4, dtype: object

In [18]:
names_df.append(s)

        Name  Age
Canada    철수   12
Canada    영희   13
USA       영수   14
USA       영미   15
4       Zach    3

In [19]:
s1 = pd.Series({'Name':'Zach','Age':3}, name=len(names_df))
s2 = pd.Series({'Name':'Zach','Age':13}, name='USA')

names_df.append([s1,s2])

        Name  Age
Canada    철수   12
Canada    영희   13
USA       영수   14
USA       영미   15
4       Zach    3
USA     Zach   13